
.sidebar{
    background-color: #020203;
    height:100vh;
    width: 100vw;
    width:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.sport-list{
    list-style: none;
    padding:0;
    margin:200px 0 0 0;
    height:316px;
    
}

.sport-item{
    margin-bottom:20px;
}

.copyryght{
    /* position: absolute;
    bottom:60px; */
    margin-top:164px;
    color:#fff;
    writing-mode: vertical-rl;
	transform: rotate(180deg);
}