
.sidebar{
    background-color: #020203;
    height: calc(100vh - 91px);
    width:120px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    position: relative
}

.sport-list{
    list-style: none;
    position:absolute;
    top:calc(50% - 316px);
    margin:0;
    height:316px;
    padding:0;
}

.sport-item{
    margin-bottom:20px;
}

.copyryght{
    position: absolute;
    bottom:60px;
    color:#fff;
    writing-mode: vertical-rl;
	transform: rotate(180deg);
}